.screen-wrapper{
    display: flex;
    justify-content: flex-end;
    padding: 4px 8px;
    gap: 10px;
    width: 232px;
    height: 52px;
    background: #F3F4F6;
    border-radius: 6px;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #111827;
    overflow-x: auto;
}