body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

*{
  box-sizing: border-box;
}
.app{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  height: 100vh;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

p{
  margin: 0;
}

h2{
  margin: 0;
}

.opacity{
opacity: 0.5;
}
